<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Arch Linux on i586 :: {{ page.title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="arch.css" />
        <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
        <link rel="alternate" type="application/rss+xml" title="Arch Linux News Updates" href="/feeds/news/" />
	<link rel="alternate" type="application/rss+xml" title="Arch Linux Package Updates" href="/feeds/packages/" />
    </head>
    <body>
        <div id="head_container">
            <div id="title">
              <div id="logo"><h1 id="archtitle"><a href="/" title="Arch Linux (Home)">Arch Linux</a></h1></div>
            </div>
            <div id="main_nav">
                <ul>
                    <li class="selected"><a href="download.html">Download</a></li>
                    <li><a href="http://aur.archlinux.org" rel="external" title="Arch User Repository">AUR</a></li>
                    <li><a href="http://bugs.archlinux.org" rel="external" title="Official Arch Linux Bugtracker">Bugs</a></li>
                    <li><a href="http://wiki.archlinux.org" rel="external" title="Official Arch Linux Wiki">Wiki</a></li>
                    <li><a href="http://bbs.archlinux.org" rel="external" title="Official Arch Linux Forums">Forums</a></li>
<li><a href="index.html">Home</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
		<div class="box">
		{{ content }}
		</div>
        </div>
            
        </div>
        <div class="foot">
          Copyright &copy; 2002-2009 <a href="mailto:jvinet@zeroflux.org" title="contact Judd Vinet">Judd Vinet</a> and <a href="mailto:aaron@archlinux.org" title="contact Aaron Griffin">Aaron Griffin</a>.<br />
          The Arch Linux name and logo are recognized trademarks. Some rights
          reserved.<br />
          The registered trademark Linux® is used pursuant to a sublicense from LMI, the exclusive licensee of Linus Torvalds, owner of the mark on a world-wide basis.
        </div>
    </body>
</html>
